<h3><%= @expense_report.title %></h3>

<h4>Despesas</h4>
<%= link_to 'Cadastrar uma despesa', new_expense_report_expense_path(@expense_report) %>
<br/><br/>
<% @expense_report.expenses.each do |expense| %>
  <h6><%= expense.expense_subtype.description %></h6>
  <ul>
    <li>Cliente: <%= expense.customer.name %> </li>
    <li>Valor: R$ <%= expense.value %> </li>
    <br />
  </ul>
<% end %>
