<h2>Cadastrar uma despesa</h2>

<%= form_for([@expense_report, @expense]) do |f| %>
  <div>
    <%= f.label :expense_subtype_id, 'Classificação' %>
    <%= f.collection_select(:expense_subtype_id, @expense_subtypes, :id, :description) %>
  </div>
  <div>
    <%= f.label :customer_id, 'Cliente' %>
    <%= f.collection_select(:customer_id, @customers, :id, :name) %>
  </div>
  <div>
    <%= f.label :value, 'Valor' %>
    <%= f.text_field :value %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>
