<h3>Cadastrar Subtipo de Despesa</h3>

<%= form_for(@expense_subtype) do |f| %>
  <div>
    <%= f.label :expense_type_id, 'Tipo' %>
    <%= f.collection_select(:expense_type_id, ExpenseType.all, :id, :description) %>
  </div>
  <div>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :accounting_account, 'Conta Contábil' %>
    <%= f.text_field :accounting_account %>
  </div>
  <%= f.submit 'Cadastrar' %>
<% end %>
